<%= javascript_importmap_tags %>

<% if @user.blank? %>
    <h2>No valid user selected</h2>
<% else %>
    <section id="user-detail" data-controller='interactions'>
        <%= render 'shared/user_item', user: @user, new_post: true %>
        <div class="bio">
            <span>Bio</span>
            <p><%= @user.bio %></p>
        </div>
        <% if @posts.blank? %>   
            <p class="no-posts"><%= @user.name%> has no post yet.</p>
        <% else %>
            <ul class="ul-none items">
                <% @user.recent_posts.each do |post|%>
                    <a href="/users/<%= post.author.id %>/posts/<%= post.id %>" class="a-list" data-action="click->interactions#clicked">
                        <%= render 'shared/post_item', post: post, comments: post.recent_comments %>
                    </a>
                <% end %>
            </ul>
        
        <% end %>
    <button class="btn-see-all"><%=  link_to  "See all posts", user_posts_url(@user) %></button>
    </section>
<% end %>
