
<li class="post-item">
    <div class="post-header">
        <div class="left">
            <h3><%= post.title%></h3>

            <% if defined?(headed) %>
                <span> by </span>
                <span><%= post.author.name %> </span>                        
            </div>
            
            <%= render 'shared/interaction', post: post %> 
            <% else %>
                </div>
            <% end %>
    </div>
    <p><%= post.text%></p> 
    <% unless defined?(headed) %>
        <%= render 'shared/interaction', post: post %>
    <% end %>

    <% if defined?(show_comments) && can?(:destroy, post) %>
        <div>
        <%= form_with(model: post, method: :delete, url: user_post_path(user, post), class: 'delete-post') do |form| %>
            <%= form.submit "Delete" %>
        <% end %> 
        </div>
    <%end%>

    <% if defined?(show_comments) %>
        <hr>
        <% if defined?(comments) && !comments.blank?%>
            <ul class="ul-none comments">
                <% comments.each do |comment| %>
                    <li>
                        <% if defined?(show_comments) && can?(:destroy, post) %>
                            <div>
                            <%= form_with(model: comment, method: :delete, url: user_post_comment_path(user, post, comment), class: 'delete-comment') do |form| %>
                                <%= form.submit "DEL" %>
                            <% end %> 
                            </div>
                        <%end%>
                        <span><%= comment.author.name %>: <%= comment.text%>

                    </li>
                <% end %>
            </ul>
        <%end%>

        <div class="add-comment" id="comment-form-<%= post.id %>">
            <%= render 'comments/form', comment: @comment, post: post%>
        </div>
    <% end%>
</li>
