<% if defined?(new_post) && new_post %>
    <button onclick="window.location.href ='/users/<%=@user.id%>/posts/new'" class='btn-new-post' >Create New Post</button>
<% end %>
<div class="user-item">
    <img src=<%= user.photo%> alt= <%= user.name%> />
    <div class="user-info">
        <h2><%= user.name %></h2>
        <span>Number of posts: <%= user.posts_counter %></span>
    </div>
</div>
